<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="jsonlogs" source="app.logs.jsonlogs"/>
    <springProperty scope="context" name="showdept" source="app.logs.showdept"/>
    <springProperty scope="context" name="showtraceid" source="app.logs.showtraceid"/>

    <logger name="core" level="INFO" additivity="false">
    </logger>

    <logger name="db" level="INFO" additivity="false">
    </logger>

    <logger name="data" level="INFO" additivity="false">
    </logger>

    <logger name="birt" level="INFO" additivity="false">
    </logger>


    <logger name="rest" level="INFO" additivity="false">
    </logger>

    <logger name="jasper" level="INFO" additivity="false">
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    
</configuration>
